<div class="container mt-5">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Étapes</th>
          <th scope="col">Durée</th>
          <th scope="col">Ingrédients</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Test1</td>
          <td>Étape 1, Étape 2, Étape 3</td>
          <td>1h</td>
          <td>Ingrédient 1, Ingrédient 2, Ingrédient 3</td>
          <td>
            <button type="button" class="btn btn-primary">Modifier</button>
            <button type="button" class="btn btn-danger">Supprimer</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Test2</td>
          <td>Étape 1, Étape 2, Étape 3</td>
          <td>45min</td>
          <td>Ingrédient 1, Ingrédient 2, Ingrédient 3</td>
          <td>
            <button type="button" class="btn btn-primary">Modifier</button>
            <button type="button" class="btn btn-danger">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  