<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom Ingrediant</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Ingrediant1</td>
              <td>
                <button type="button" class="btn btn-primary">Modifier</button>
                <button type="button" class="btn btn-danger">Supprimer</button>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Ingrediant2</td>
              <td>
                <button type="button" class="btn btn-primary">Modifier</button>
                <button type="button" class="btn btn-danger">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  